@import url('https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script|Poiret+One|Shadows+Into+Light|Uncial+Antiqua');

.App {
  /* font-family: 'Uncial Antiqua', cursive; */
  /* font-family: 'Shadows Into Light', cursive; */
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Comfortaa', cursive;
  /* font-family: 'Poiret One', cursive; */
   
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
}

.header-intro {
  font-size: 6em;
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.intro-title {
  border-bottom: 5px solid black;
}

.header-photo {
  height: 12em;
  padding-bottom: 1em;
}

.pet-list {
  border: 3px solid blue;
  display: flex;
  
}

