@import url('https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script|Poiret+One|Shadows+Into+Light|Uncial+Antiqua');

.App {
  /* font-family: 'Uncial Antiqua', cursive; */
  /* font-family: 'Shadows Into Light', cursive; */
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Comfortaa', cursive;
  /* font-family: 'Poiret One', cursive; */
   
  text-align: center;
}

.nav-category {   
  font-family: 'Poiret One', cursive;
  font-size: 2em;
}

.nav-category li {
  list-style: none;
}

.header-intro {
  font-size: 6em;
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.intro-title {
  border-bottom: 5px solid black;
}

.header-photo {
  height: 12em;
  padding-bottom: 1em;
  justify-content: space-around;
}

.intro-photo {
  display: flex;
  justify-content: space-around;
}

.pet-list {
  display: flex;
  flex-direction: column;  
  justify-content: space-around;
  margin: 10px;
}

.pet-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 2em;
  margin: 15px;
}

.pet-image {
  height: 15em;
  width: 15em;
  padding: 10px;
  border: 1px solid darkslategrey;
  background: dodgerblue;
}

.header-container {
  /* border: 2px solid red; */
  height: 450px;
}

.pet-button {
  padding: 8px;
  margin-bottom: 3em;
  color: black;
  background: gold;
  font-size: 12px;
  border: outset;
}

.pet-name {
  /* font-family: 'Shadows Into Light', cursive; */
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

.individual-container {
  display: flex;
  flex-direction: column;
}

.individual-pet-name {
  padding: 1em;
  font-family: 'Shadows Into Light', cursive;
  font-size: 32px;
}

.individual-pet-info {
  background: lightslategray;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  
}